html {
  font-family: sans-serif;
}

body {
  background: #2c2c2c;
}

:root{
--primary-color: #15c55d;
--secondary-color: #069441;
--color-dark: #1e1e1e;
--color-white: #fff;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem 0.5rem;
  color: var(--color-white);
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 2rem;
  color: var(--color-dark);
  border: 1px solid var(--secondary-color);
}

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: var(--primary-color);
  transition: all 0.2s ease-out;
}

progress[value]::-moz-progress-bar {
  background-color: var(--secondary-color);
  transition: all 0.2s ease-out;
}

button {
  font: inherit;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: white;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  margin: 0.5rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: var(--color-dark);
  border-color: var(--secondary-color);
}

#health-levels,
#controls {
  margin: 2rem auto;
  width: 30rem;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background: var(--color-dark);
}

#controls {
  display: flex;
  flex-direction: column;
}

#bonus-life {
  font-weight: bold;
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  padding: 0.15rem 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin: 0 0.5rem;
}
